<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, voluptatum dolores magnam officia minus inventore distinctio illum enim nostrum exercitationem temporibus. Ab voluptates ipsum maxime sequi ullam officiis. Dolorem, autem?
</p>
